
name: Java Maven CI

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ MUST checkout first
      - name: Checkout repository
        uses: actions/checkout@v4
